@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create New Role</h1>
<br />
<form asp-action="Create">
    <partial name="PartialViews/CreateEditPartialView" />
    <input type="submit" value="submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}
