@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete This Role: @Model.RoleName?</h1>
<form asp-action="ConfirmDelete">
    <div>
        <partial name="PartialViews/DetailsDeletePartialView" />
    </div>
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>


