@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Role @Model.RoleName Details</h1>
<br />
<div>
    <partial name="PartialViews/DetailsDeletePartialView" />
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a> |
<a asp-action="Index" class="btn btn-light">Back to List</a>

