@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role</h1>
<br />
<form asp-action="Edit">
    <partial name="PartialViews/CreateEditPartialView" />
    <input type="submit" value="submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}
