@model UserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit User</h1>
<br />
<br />
<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="col-form-label" asp-for="FName"></label>
        <input class="form-control" asp-for="FName" />
        <span asp-validation-for="FName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="LName"></label>
        <input class="form-control" asp-for="LName" />
        <span asp-validation-for="LName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <input type="submit" value="save" class="btn btn-warning" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}